
*.aux
*.lof
*.log
*.lot
*.txt
*.toc
*.out
*.nav
*.gz
*.snm
*.synctex(busy)
*.sav
*.xml
*.bbl
*.bcf
*.blg
/Tag_3/Wordpaper
*.pygtex
*.pygstyle
*.stdout
*.pytxmcr
*.pytxpyg
*.pkl
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.dpth
*.md5
*.auxlock
*.mp4
Tag_4/Animation/frame1.png
Tag_4/Animation/frame10.png
Tag_4/Animation/frame11.png
Tag_4/Animation/frame12.png
Tag_4/Animation/frame13.png
Tag_4/Animation/frame14.png
Tag_4/Animation/frame15.png
Tag_4/Animation/frame16.png
Tag_4/Animation/frame17.png
Tag_4/Animation/frame18.png
Tag_4/Animation/frame2.png
Tag_4/Animation/frame3.png
Tag_4/Animation/frame4.png
Tag_4/Animation/frame5.png
Tag_4/Animation/frame6.png
Tag_4/Animation/frame7.png
Tag_4/Animation/frame8.png
Tag_4/Animation/frame9.png
