
*.aux
*.lof
*.log
*.lot
*.txt
*.toc
*.out
*.nav
*.gz
*.snm
*.synctex(busy)
*.sav
*.xml
*.bbl
*.bcf
*.blg
/Tag_3/Wordpaper
*.pygtex
*.pygstyle
*.stdout
*.pytxmcr
*.pytxpyg
*.pkl
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
